{
  "presets": [
    "@babel/preset-modules",
    "@babel/preset-typescript",
    "power-assert"
  ],
  "env": {
    "production": {
      "presets": [
        "@babel/preset-modules",
        "@babel/preset-typescript",
        "power-assert"
      ]
    }
  }
}
